.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  text-align: center;
  background-image: url("shttefan-viNPa2F7fnw-unsplash.jpg");
  background-size: cover;
}
